.cards
    padding-block: $padding_sections // nur damit der abstand zum header größer ist
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 3rem
    align-items: start
    width: 60%
    max-width: $max_width
    margin-inline: auto 
    &:hover
        .card
            background: radial-gradient(100rem circle at var(--xPos) var(--yPos), rgba($prim_orange, 1), transparent 15%)
    .card
        max-width: 300px 
        background: radial-gradient(150rem circle at 0 0, rgba($prim_orange, 0), transparent 0%)
        border-radius: 0.5rem
        display: flex
        justify-content: center 
        align-items: center
        overflow: hidden
        max-width: 100%
        position: relative
        transition: all 0.15s
        &:hover
            transform: scale(1.05)
            &::before
                opacity: 1
        &::before
            content: ""
            height: 100%
            width: 100%
            position: absolute
            top: 0
            left: 0
            border-radius: inherit
            background: radial-gradient(60rem circle at var(--xPos) var(--yPos), rgba($prim_orange, 0.2), transparent 35%)
            opacity: 0
            transition: all 0.15s ease-in-out
        .card-content
            background-color: $bg_grey_light
            border-radius: inherit
            text-shadow: $schatten_cards
            transition: all 0.25s
            height: calc(100% - 0.3rem)
            width: calc(100% - 0.3rem)
            .card-footer
                padding: $padding_cards
                padding-bottom: 0
                margin-bottom: 0.5rem
                &.card-img
                    padding: 1rem $padding_cards
                    > img
                        display: block
                        width: 100%
                        //max-height: 200px
                        //aspect-ratio: 16 / 9
                        object-fit: cover
                        object-position: center
                        border-radius: 0.5rem
                        box-shadow: $schatten_cards
            .card-body
                font-size: 0.9rem
                padding: $padding_cards
                padding-bottom: 0
                color: $text_white
                .card-date
                    padding: 0 0 2rem 0
                    h1
                        font-size: 3rem
                        color: $prim_orange
                        padding-bottom: 0.5rem
                    p
                        font-size: 1.5rem
                        color: $text_white
                        padding-bottom: 1rem
                    hr
                       width: 30%
                       box-shadow: $schatten_cards
                    
                .card-text
                    padding: 0 0 2rem 0
                    h1
                        font-size: 2rem
                        color: $prim_orange
                        padding-bottom: 0.5rem
                    p 
                        font-size: 1rem
                        color: $text_white
                