.banner
    position: relative
    filter: brightness(50%)
    img
        width: 100%
        height: 800px
        object-fit: cover
        position: relative
        z-index: -1

.container_hero
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .überschrift_1
        margin-top: 250px
        width: 100%
        text-align: center
        color: $text_white
        font-size: 5rem
        letter-spacing: 5px
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
    .überschrift_2
        margin-top: 20px
        width: 100%
        text-align: center
        color: $text_white
        font-size: 1.5rem
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
    .magnatic-container
        border: none
        background-color: transparent
        position: relative
        padding: $button_size * 0.8 $button_size * 1
        margin-top: 0px
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        .magnatic-element
            z-index: 2
            font-size: 1.3rem
            color: $text_white
        .magnatic-background
            background-color: $prim_orange
            width: $button_size * 1.4
            height: $button_size * 0.6
            position: absolute
            z-index: 1
            border-radius: $button_size * 0.2
            pointer-events: none
            box-shadow: 0px $button_size * 0.3 $button_size 0px rgba($prim_orange,0.95)
