@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333333;
  min-height: 200vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10000;
}
nav.sticky {
  padding: 10px 100px;
  background: #ffffff;
}
nav.sticky .logo img {
  content: url(../images/Logo/BBC_Logo_vektorBBC_schwarz.png);
}
nav.sticky ul li a {
  color: #333333;
}
nav.sticky .toggle_btn {
  color: #333333;
}
nav .logo {
  position: relative;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
nav .logo img {
  width: 50px;
  height: 50px;
}
nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  position: relative;
  list-style: none;
}
nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
nav .toggle_btn {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
  position: fixed;
  width: 100%;
  top: 60px;
  left: 0;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.show {
  display: block;
}

@media (max-width: 991px) {
  nav ul {
    display: none;
  }
  nav .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: none;
  }
}
.banner {
  position: relative;
  filter: brightness(50%);
}
.banner img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.container_hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_hero .überschrift_1 {
  margin-top: 250px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 5rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.container_hero .überschrift_2 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.container_hero .magnatic-container {
  border: none;
  background-color: transparent;
  position: relative;
  padding: 5.6rem 7rem;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container_hero .magnatic-container .magnatic-element {
  z-index: 2;
  font-size: 1.3rem;
  color: #ffffff;
}
.container_hero .magnatic-container .magnatic-background {
  background-color: #ff5733;
  width: 9.8rem;
  height: 4.2rem;
  position: absolute;
  z-index: 1;
  border-radius: 1.4rem;
  pointer-events: none;
  box-shadow: 0px 2.1rem 7rem 0px rgba(255, 87, 51, 0.95);
}

.cards {
  padding-block: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  aligh-items: start;
  width: 90%;
  max-width: 100rem;
  margin-inline: auto;
}
.cards:hover .card {
  background: radial-gradient(100rem circle at var(--xPos) var(--yPos), #ff5733, transparent 15%);
}
.cards .card {
  max-width: 300px;
  background: radial-gradient(150rem circle at 0 0, rgba(255, 87, 51, 0), transparent 0%);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  transition: all 0.15s;
}
.cards .card:hover {
  transform: scale(1.05);
}
.cards .card:hover::before {
  opacity: 1;
}
.cards .card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: radial-gradient(60rem circle at var(--xPos) var(--yPos), rgba(255, 87, 51, 0.2), transparent 35%);
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.cards .card .card-content {
  background-color: #424242;
  border-radius: inherit;
  text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.6);
  transition: all 0.25s;
  height: calc(100% - 0.3rem);
  width: calc(100% - 0.3rem);
}
.cards .card .card-content .card-footer {
  padding: 3rem;
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}
.cards .card .card-content .card-footer.card-img {
  padding: 1rem 3rem;
}
.cards .card .card-content .card-footer.card-img > img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.6);
}
.cards .card .card-content .card-body {
  font-size: 0.9rem;
  padding: 3rem;
  padding-bottom: 0;
  color: #ffffff;
}
.cards .card .card-content .card-body .card-date {
  padding: 0 0 2rem 0;
}
.cards .card .card-content .card-body .card-date h1 {
  font-size: 3rem;
  color: #ff5733;
  padding-bottom: 0.5rem;
}
.cards .card .card-content .card-body .card-date p {
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 1rem;
}
.cards .card .card-content .card-body .card-date hr {
  width: 30%;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.6);
}
.cards .card .card-content .card-body .card-text {
  padding: 0 0 2rem 0;
}
.cards .card .card-content .card-body .card-text h1 {
  font-size: 2rem;
  color: #ff5733;
  padding-bottom: 0.5rem;
}
.cards .card .card-content .card-body .card-text p {
  font-size: 1rem;
  color: #ffffff;
}

.section_padding {
  padding-block: 5rem;
}

.diagonal {
  position: relative;
  isolation: isolate;
}
.diagonal::after {
  content: "";
  background: linear-gradient(45deg, #26c6da, #711c91, #ff5733);
  position: absolute;
  inset: 0;
  transform: skewY(-5deg);
  z-index: -1;
}
.diagonal .wrapper_about {
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 1rem;
  color: #ffffff;
}

.gallery {
  width: 60%;
  max-width: 100rem;
  padding-block: 5rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
}
.gallery:hover {
  cursor: none;
}
.gallery:hover .gallery-image:not(.gallery-image:hover) {
  scale: 0.95;
  opacity: 0.3;
}
.gallery .gallery-image {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
  transition: 250ms all;
}
.gallery .gallery-image:hover img {
  scale: 1.2;
}
.gallery .gallery-image:active {
  scale: 0.9;
}
.gallery .gallery-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scale: 1;
  transition: 250ms all ease-ind;
}

.size {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */