.hero-section {
  position: relative;
  height: 75vh; /* oder 100vh für volle Bildschirmhöhe */
  background: url("IHRE-BILD-URL") no-repeat center center;
  background-size: cover;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* schwarzes Overlay mit 50% Deckkraft */
}
.hero-content {
  position: relative;
  z-index: 2; /* stellt sicher, dass der Text über dem Overlay liegt */
  color: white;
  text-align: center;
  padding-top: 20%; /* Abstand von oben, anpassen nach Bedarf */
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Dies stellt sicher, dass das Video den Container ohne Verzerrung ausfüllt */
  z-index: 1; /* Setzen Sie das z-index niedriger als den Inhalt, aber höher als das Overlay */
}
.team-member-img {
  width: 150px; /* oder eine andere Größe, die zu Ihrem Design passt */
  height: 150px;
  object-fit: cover;
}
.custom-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.custom-padding-footer {
  padding-top: 6rem;
}
.navbar {
  transition: opacity 0.3s ease-in-out; /* sanfter Übergang für Opacity */
}
.navbar-fixed {
  position: fixed;
  top: -100;
  width: 100%;
  background: rgba(255, 255, 255, 0.9); /* Leicht transparentes Weiß */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0; /* Starten mit einer Opazität von 0 */
  transition: top 0.3s ease-in, opacity 0.3s ease-in-out; /* sanfter Übergang für Opacity und Top */
}
.navbar-visible {
  top: 0;
  opacity: 1; /* Volle Opazität, wenn sichtbar */
}
.navbar-placeholder {
  display: none; /* Standardmäßig nicht anzeigen */
  height: 0; /* Anfangshöhe */
}
.navbar-fixed + .navbar-placeholder {
  display: block;
  height: 56px; /* Setzen Sie hier die tatsächliche Höhe Ihrer Navbar ein */
}
.about-us-section {
  background-image: url(Images/Julien_blau_BG.png); /* Pfad zum Hintergrundbild */
  background-size: cover; /* Das Bild deckt den gesamten Bereich ab */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
}
.btn-orange {
  background-color: orange; /* Oder einen spezifischen Orangeton */
  color: white; /* Weißer Text auf dem Button */
  border: none; /* Entfernt die Standardgrenze */
}

.btn-orange:hover {
  background-color: darkorange; /* Dunklerer Orangeton beim Hover */
  color: white;
}
