*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50");
  background-size: cover;
  background-position: center;
  position: relative; /* damit die Pseudo-Elemente relativ zum Elternelement positioniert werden */
}

.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 10px; /* hier kann man einfach die Pfeilgröße ändern */
  --tooltip-color: #333; /* hier kann man einfach die Farbe ändern */

  position: absolute; /* damit das geht muss man vorher oben das auf relativ setzen */
  content: "";
  top: -0.25rem;
  left: 50%; /* muss man machen wenn man das Pseudo-Element zentrieren will */
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale)); /* translateY(-100%) damit das Pseudo-Element über dem Elternelement ist */
  transition: 150ms transform; /* damit das Pseudo-Element nicht sofort erscheint sonder langsamer */
  transform-origin: bottom center; /* damit das tooltip von unten inder mitte kommt */
}
.avatar::before {
  --translate-y: calc(
    -100% - var(--arrow-size)
  ); /* damit das Pseudo-Element über dem Elternelement ist */
  /* Tooltip */
  content: attr(data-tooltip);
  color: azure;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content; /* damit das Element nur so breit ist wie der Text */
  max-width: 100%; /* damit das Element nicht breiter wird als das Elternelement */
  background: var(--tooltip-color);
}
.avatar:hover::before,
.avatar:hover::after {
  --scale: 1;
}

.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));
  /* Pfeil nach untem */
  content: "";
  /* Dreieck */
  border: var(--arrow-size) solid transparent; /* damit das Element ein Dreieck wird */
  border-top-color: var(--tooltip-color); /* damit das Dreieck schwarz wird */
  transform-origin: top center; /* damit das Dreieck von oben in der Mitte ist */
}
