@import "test";
@import "colors";

$light_blue: hsl(200, 100%, 91%);
$blue: hsl(200, 100%, 50%);
$dark_blue: hsl(200, 100%, 6%);
$success: hsl(100, 60%, 50%);
$error: hsl(0, 60%, 50%);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.full-screen-container {
  background-image: url(./../assets/Images/Bilder/IMG_0002.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  $dark_blue_complete: rgba(
    $color: $dark_blue,
    $alpha: 0.7,
  );
  background-color: $dark_blue_complete;
  box-shadow: 0 0 15px 0 $dark_blue_complete;
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;

  .login-title {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 7px;

      label {
        color: white;
        font-weight: lighter;
      }

      input {
        font-size: 1.25rem;
        padding: 0.5em;
        background-color: rgba($color: $light_blue, $alpha: 0.3);
        border: none;
        outline: none;
        border-radius: 0.25em;
        color: white;
        font-weight: lighter;

        &:focus {
          box-shadow: 0 0 0 1px $blue;
        }
      }

      &.success {
        input {
          box-shadow: 0 0 0 1px $success;
        }

        .msg {
          display: block;
          color: $success;
        }
      }

      &.error {
        input {
          box-shadow: 0 0 0 1px $error;
        }

        .msg {
          display: block;
          color: $error;
        }
      }

      .msg {
        display: none;
        font-size: 0.75rem;
      }
    }
  }

  .login-button {
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: rgba($color: $blue, $alpha: 0.25);
    border: 1px solid $blue;
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba($color: $blue, $alpha: 0.4);
    }
  }
}
