.hero-section {
  position: relative;
  height: 75vh; /* oder 100vh für volle Bildschirmhöhe */
  background: url("IHRE-BILD-URL") no-repeat center center;
  background-size: cover;
}

.hero-section .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* schwarzes Overlay mit 50% Deckkraft */
}

.hero-section .hero-content {
  position: relative;
  z-index: 2; /* stellt sicher, dass der Text über dem Overlay liegt */
  color: white;
  text-align: center;
  padding-top: 20%;
}

.hero-section .hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Dies stellt sicher, dass das Video den Container ohne Verzerrung ausfüllt */
  z-index: 1;
}

.team-member-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.custom-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.custom-padding-footer {
  padding-top: 6rem;
}

.navbar {
  transition: opacity 0.3s ease-in-out; /* sanfter Übergang für Opacity */
}

.navbar-fixed {
  position: fixed;
  top: -100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9); /* Leicht transparentes Weiß */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0; /* Starten mit einer opacity von 0 */
  transition: top 0.3s ease-in, opacity 0.3s ease-in-out; /* sanfter Übergang für Opacity und Top */
}

.navbar-fixed + .navbar-placeholder {
  display: block;
  height: 56px;
}

.navbar-visible {
  top: 0;
  opacity: 1; /* Volle Opazität, wenn sichtbar */
}

.navbar-placeholder {
  display: none; /* Standardmäßig nicht anzeigen */
  height: 0; /* Anfangshöhe */
}

.about-us-section {
  background-image: url(Images/Julien_blau_BG.png);
  background-size: cover; /* Das Bild deckt den gesamten Bereich ab */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
}

.btn-orange {
  background-color: orange;
  color: white;
  border: none; /* Entfernt die Standardgrenze */
}

.btn-orange:hover {
  background-color: darkorange; /* Dunklerer Orangeton beim Hover */
  color: white;
}

.faq-section {
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #e91e63;
  bottom: -25px;
  margin-left: -30px;
}

.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #cee1f8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(233, 30, 99, 0.1);
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3b566e;
  text-decoration: none !important;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  border-radius: 100px;
  text-align: center;
  background: #e91e63;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #f3f8ff;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }

  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
